<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cadastro de Congregação</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
</head>

<body>
    <div class="container">
        <div class="row is-center">
            <h2>Cadastro de Congregação</h2>
            <form th:action="@{/congregacao/add}" th:object="${congregacao}" method="post">

                <div class="row">
                    <div class="form-group col-3">
                        <label for="nro">Número:</label>
                        <input type="number" class="form-control" id="nro" th:field="*{nro}"
                            placeholder="Número da congregação">
                    </div>
                    <div class="form-group col-9">
                        <label for="nome">Nome da Congregação:</label>
                        <input type="text" class="form-control" id="nome" th:field="*{nome}"
                            placeholder="Nome da congregação">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <label for="endereco">Endereço:</label>
                        <textarea name="endereco" id="endereco" class="form-control" th:field="*{endereco}"
                            placeholder="Endereço completo da congregação"></textarea>
                    </div>
                </div>
                <div class="row is-botom">
                    <div class="form-group col-3">
                        <label for="circuito">Circuito:</label>
                        <input type="text" class="form-control" id="circuito" th:field="*{circuito}"
                            placeholder="Circuito da congregação">
                    </div>
                    <div class="form-group col-5">
                        <label for="supteCircuito">Superintendente de Circuito:</label>
                        <input type="text" class="form-control" id="supteCircuito" th:field="*{supteCircuito}"
                            placeholder="Nome do superintendente de Circuito">
                    </div>


                    <div class="form-group col-4">
                        <label for="telSupteCircuito">Tel. do Supte de Circuito:</label>
                        <input type="text" class="form-control" id="telSupteCircuito" th:field="*{telSupteCircuito}"
                            placeholder="telSupteCircuito" aria-placeholder="Telefone do Superintendente de Circuito">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>

            </form>
        </div>
    </div>
</body>

</html>