<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista de Congregações</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
</head>

<body>
    <div class="container">
        <h2>Lista de Congregações</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Número </th>
                    <th>Nome </th>
                    <th>Endereço</th>
                    <th>Circuito</th>
                    <th>Superintendente de Circuito</th>
                    <th>Telefone do Supte de Circuito</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each=" congregacao : ${congregacao}">
                    <td th:text="${congregacao.nro}">Número</td>
                    <td th:text="${congregacao.nome}">Nome</td>
                    <td th:text="${congregacao.endereco}">Endereço</td>
                    <td th:text="${congregacao.circuito}">Circuito</td>
                    <td th:text="${congregacao.supteCircuito}">Supte de Circuito</td>
                    <td th:text="${congregacao.telSupteCircuito}">Telefone do Supte e Circuito</td>
                    <td>
                        <a class="button success" th:href="@{/congregacoes/{id}(id=${congregacao.nro})}"
                            th:onclick="'return confirm(\'Tem certeza que deseja deletar esta congregação?\');'">
                            Alterar
                        </a>
                        <a class="button error" th:href="@{/congregacoes/{id}(id=${congregacao.nro})}"
                            th:onclick="'return confirm(\'Tem certeza que deseja deletar esta congregação?\');'">
                            Excluir
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/congregacao/cadastro" class="button primary">Adicionar Nova Congregação</a>

    </div>
</body>

</html>